@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">A Rat's Life</h1>
	<p>A rogue-like choose-your-own-adventure style Text RPG.</p>
	<p>See our <a href="/rats">Rodent Registry</a></p>
	<p>Sign Up and Play!</p>
	<p><a href="/accounts">Account Page</a></p>
</div>
